@layer reset, base, tokens, recipes, utilities;
@import "../styled-system/styles.css";

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  font-size: 10px;
  line-height: 1.6;
  font-weight: 400;

  color-scheme: dark;
  color: #ebdbb2;
  background: #282828;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #83a598;
  text-decoration: none;
  transition: all 0.2s ease;
}
a:hover {
  color: #8ec07c;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #3c3836;
  color: #ebdbb2;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #458588;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

